    <div class="jumbotron">
        <h1 class="display-4">Welcome to Tasty Bits!</h1>
        <p class="lead">Enjoy the best experience in the culinary world!</p>
        <hr class="my-4">
        <p>There are currently no recipes available in @ViewBag.Title. Would you like to add one?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Add" role="button">Add Recipe</a>
        </p>
    </div>