@using Microsoft.AspNetCore.Identity
@using RecipesWebApp.Services.Contributors
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IContributorService Contributors

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{ 
    var userId = User.GetId();
        var userIsContributor = await Contributors.UserIsContributor(userId);
        var userIsAdmin = User.IsAdmin();

    @if (userIsContributor && !userIsAdmin)
   {
       <li class="nav-item">
           <a class="nav-link text-dark" asp-area="Identity" asp-controller="Recipes" asp-action="MyRecipes">My Recipes</a>
       </li>
   }
   else if (!userIsAdmin)
   {
       <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Contributors" asp-action="Create">Become Contributor</a>
       </li>
   }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Profile</a>
    </li>
   <!-- <li class="nav-item">
        <h6  class="nav-link text-dark text-lg-left">Hello @User.Identity.Name!</h6>
    </li>-->
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
