@model IEnumerable<RecipeListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
  <div class="jumbotron">
      <h1 class="display-4">Welcome to Tasty Bits!</h1>
      <p class="lead">Enjoy the best experience in the culinary world!</p>
      <hr class="my-4">
      <p>There are currently no recipes available. Would you like to add one?</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Add" role="button">Add Recipe</a>
      </p>
    </div>  
}
else
{
     <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4 text-center">Welcome to Tasty Bits!</h1>
        <p class="lead text-center">Enjoy the best experience in the culinary world!</p>
      </div>
    </div>

    <div class="text-center" style="margin-bottom:12px">
        <h1 class="display-4" style="padding:15px; font-size:40px">Newest Recipies</h1>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>
    <div  class="offset-md-1" style="margin-bottom:15px">
        @foreach (var recipe in Model)
        {
            <div class="card inline-blocks" style="width: 18rem; display: inline-block; position:center; margin:12px"
            margin-block: auto;>
              <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Title">
              <div class="card-body">
                <h5 class="card-title">@recipe.Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary" style="cursor: pointer">Details</a>
              </div>
            </div>
        }
    </div>
    <div>
        <a asp-controller="Recipes" asp-action="All" class="btn btn-primary btn-lg offset-md-5 col-md-2 col-sm-12" style="margin-bottom:12px; cursor: pointer;">See All Recipes</a>
    </div>
}



