@model IEnumerable<RecipeListingViewModel>


    <div class="jumbotron">
      <h1 class="display-4">Welcome to Tasty Bits!</h1>
      <p class="lead">Enjoy the best experience in the culinary world!</p>
      <hr class="my-4">
      <p>There are currently no recipes available. Would you like to add one?</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Add Recipe</a>
      </p>
    </div>

    <div class="text-center">
        <h1 class="display-4" style="padding:15px">All Recipies</h1>
    </div>
    <div  style="margin-left:60px">
        @foreach (var recipe in Model)
        {
            <div class="card inline-blocks" style="width: 18rem; display: inline-block; position:center; margin:12px"
            margin-block: auto;>
              <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Title">
              <div class="card-body">
                <h5 class="card-title">@recipe.Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-conreoller="Cars" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary" style="cursor: pointer">Details</a>
              </div>
            </div>
        }
    </div>
<!--}-->

    <script src="~/js/site.js" asp-append-version="true"></script>
