@model IEnumerable<RecipeServiceModel>;

@{
    ViewBag.Title = "My Recipes";
    ViewBag.AllowEdit = true;
}


@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Tasty Bits!</h1>
        <p class="lead">Enjoy the best experience in the culinary world!</p>
        <hr class="my-4">
        <p>There are currently no recipes available in My Recipes. Would you like to add one?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Add" role="button">Add Recipe</a>
        </p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4 m-4">My Recipies</h1>
    </div>
    <partial name="_RecipesPartial" model="@Model"></partial>
}
